.advertisement-form {
    min-width: 550px;
    max-width: 550px;
    margin-top: 40px;
}
.form-hint {
    display: inline-block;
    height: 43px;
    line-height: 43px;
}
.form-hint-nec {
    color: red;
}
.form-hint-opt {
    color: #8A6D3B;
}
.form-hint-suc {
    color: #3C763D;
}

