html {
    height: 101%;
}
/* Top Navigation */
ul.dropdown-menu li>a {
    padding: 0;
}
ul.dropdown-menu li a.menu-link {
    padding: 10px 15px;
}
/* Side Navigation */
.side-nav {
    position: fixed;
    left: 160px;
    width: 160px;
    margin-left: -160px;
    top: 51px;
    bottom: 0;
    border-right: 1px solid #ecf0f1;
    border-radius: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #FFF;
    padding-bottom: 40px;
}
.side-nav>li>a {
    color: #555555;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    font-size: 12px;
}
.side-nav li a:hover,
.side-nav li a:focus {
    outline: none;
    background-color: #ecf0f1;
}
.side-nav li.active>a,
.side-nav li.active>a:visited,
.side-nav li.active>a:hover,
.side-nav li.active>a:focus {
    background-color: #222222;
    color: #FFF;
}
.side-nav>li>ul {
    padding: 0;
}
.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #555555;
    padding: 8px 15px 8px 30px;
    font-size: 12px;
}
/* Main Page */
.main-page {
    margin: 50px 0 100px 225px;
}
@media(min-width: 768px) {
    .side-nav {
        left: 160px;
        width: 160px;
        margin-left: -160px;
    }
    .side-nav>li>a {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 12px;
        font-size: 12px;
    }
    .side-nav>li>ul>li>a {
        padding: 8px 15px 8px 30px;
        font-size: 12px;
    }
    .main-page {
        margin: 50px 0 100px 160px;
    }
}
@media(min-width: 1200px) {
    .side-nav {
        left: 200px;
        width: 200px;
        margin-left: -200px;
    }
    .side-nav>li>a {
        padding-top: 19.5px;
        padding-bottom: 19.5px;
        padding-left: 15px;
        font-size: 14px;
    }
    .side-nav>li>ul>li>a {
        padding: 10px 15px 10px 38px;
        font-size: 14px;
    }
    .main-page {
        margin: 50px 0 100px 200px;
    }
}
@media(min-width: 1400px) {
    .side-nav {
        left: 225px;
        width: 225px;
        margin-left: -225px;
    }
    .side-nav>li>a {
        padding-top: 19.5px;
        padding-bottom: 19.5px;
        font-size: 14px;
    }
    .side-nav>li>ul>li>a {
        padding: 10px 15px 10px 38px;
        font-size: 14px;
    }
    .main-page {
        margin: 50px 0 100px 225px;
    }
}

/* Table */
.table-title-container {
    text-align: center;
}
.table-title {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
}

/* Filter Container */
.filter-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #E8E8E8;
    border-radius: 2px;
}
.filter-container .form-inline {
    padding: 5px 0 5px 5px;
}
.filter-container .form-inline:not(:first-child) {
    border-top: 1px dashed #dedede;
}
.filter-container .control-label {
    min-width: 150px;
}

/* Bootstrap-wysiwyg */
.wysiwyg-editor {
    min-height: 300px;
    outline: none;
}
